<article>
  <h1 class="page-title">Colored Grid</h1>
  <div class="container">
    <div class="item item-1">item 1</div>
    <div class="item item-2">item 2</div>
    <div class="item item-3">item 3</div>
    <div class="item item-4">item 4</div>
    <div class="item item-5">item 5</div>
    <div class="item item-6">item 6</div>
    <div class="item item-7">item 7</div>
    <div class="item item-8">item 8</div>
    <div class="item item-9">item 9</div>
    <div class="item item-10">item 10</div>
    <div class="item item-11">item 11</div>
    <div class="item item-12">item 12</div>
  </div>
</article>

<article>
  <h1 class="page-title">Card</h1>
  <div class="card-container">
    <section class="card">
      <h1 class="card-title">Card</h1>
      <p class="card-text">business card info</p>
    </section>
  </div>
</article>

<article>
  <h1 class="page-title">Photo Gallery</h1>
  <div class="container">
    <img src="assets/breakfast.jpg" alt="breakfast" class="img-1">
    <img src="assets/burgers.jpg" alt="burger" class="img-2">
    <img src="assets/camera.jpg" alt="camera" class="img-3">
    <img src="assets/morning.jpg" alt="morning" class="img-4">
    <img src="assets/hats.jpg" alt="hats" class="img-5">
    <img src="assets/honey.jpg" alt="honey" class="img-6">
    <img src="assets/vegetables.jpg" alt="vegetables" class="img-7">
    <img src="assets/plant.jpg" alt="plant" class="img-8">
    <img src="assets/mushroom.jpg" alt="mushrooms" class="img-9">
    <img src="assets/olive.jpg" alt="olive" class="img-10">
    <img src="assets/star.jpg" alt="star" class="img-11">
    <img src="assets/bike.jpg" alt="bike" class="img-12">
  </div>
</article>
