.page-title {
  color: #1abc9c;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  padding: 20px;
}

// Colored Grid
.img-a {
  background-color: blueviolet;
  grid-area: breakfast;
}
.img-b {
  background-color: blue;
  grid-area: burger;
}
.img-c {
  background-color: greenyellow;
  grid-area: camera;
}
.img-d {
  background-color: coral;
  grid-area: morning;
}

.img-e {
  background-color: aqua;
  grid-area: hat;
}

.img-f {
  background-color: green;
  grid-area: honey;
}

.img-g {
  background-color: cadetblue;
  grid-area: vegetables;
}

.colored-grid > div {
  height: 200px;
}

.colored-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "breakfast breakfast burger"
    "camera morning hat"
    "honey vegetables vegetables";
}

// Photo Gallery
.img-wrapper {
  width: 50%;
  margin-left: 25%;
  background: #946c42;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "breakfast breakfast burgers"
    "camera morning hats"
    "honey vegetables vegetables"
    "plant mushroom olive"
    "star star bike";

  &-1 {
    grid-area: breakfast;
  }
  &-2 {
    grid-area: burgers;
  }
  &-3 {
    grid-area: camera;
  }
  &-4 {
    grid-area: morning;
  }
  &-5 {
    grid-area: hats;
  }
  &-6 {
    grid-area: honey;
  }
  &-7 {
    grid-area: vegetables;
  }
  &-8 {
    grid-area: plant;
  }
  &-9 {
    grid-area: mushroom;
  }
  &-10 {
    grid-area: olive;
  }
  &-11 {
    grid-area: star;
  }
  &-12 {
    grid-area: bike;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// Card
.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 350px;
  height: 90px;
  grid-column: 2;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 16px;
}

.card-title {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: .0125em;
  text-decoration: inherit;
  text-transform: inherit;
  font-family: Roboto, sans-serif;
}

.card-text {
  font-family: Roboto, sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .017em;
  text-decoration: inherit;
  text-transform: inherit;
  opacity: .6;
}
