<!--  <header>-->
<!--    <ul class="li">-->
<!--      <li><a href="index.html">Linear Loader</a></li>-->
<!--      <li><a href="views/box.html">Box Loader</a></li>-->
<!--      <li><a href="views/circle.html">Circle Loader</a></li>-->
<!--    </ul>-->
<!--  </header>-->
  <nav>
    <a routerLink="/css-flex" routerLinkActive="active">CSS Flex</a>
    <a routerLink="/css-grid">CSS Grid</a>
    <a routerLink="/css-loaders">CSS Loaders</a>
    <a routerLink="/flex-layout">Flex Layout</a>
  </nav>

  <router-outlet></router-outlet>

